  
body{
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;

    
}.timer {
    font-size: 30px;
    text-align: right;
    top: 10px;
    right: 10px;
    
}
.start {
    font-size: 20px;
    text-align: center;
    border: 5px;
}    

#wrapper {
  margin: 80px auto 0 auto;
  align-items: center;
  max-width: 700px;
 

}
#startTime {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    font-size: 100%;
    background-color: blue;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    border: 0;
 
}
button:hover {
    opacity: 0.5;
}
#highScore {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    border-radius: 5px;
    padding: 2px 10px;
    border: 0;
   

}

#questionsDiv {
    font-size: 20px;
    align-content: center;
    margin: 100px auto 0 auto;
    max-width: 600px;
    max-height: 600px;
    text-align: center;
   
}

#timeLeft {
    text-align: center;
}

#backPage {
    background-color: blue;
    position: relative;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 20%;
    bottom: 20%;
    left: 50%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: blue;
    position: relative;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 20%;
    left: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

#Submit {
    background-color: blue;
    margin-left: 30%;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 30px;
}
input {
    margin-bottom: 15px;
    width: 40%;
    border: 1px solid lightgray;
}
#topScores li {
    cursor: auto;
    background-color: gray;
    list-style: none;
}

li {
    list-style: none;
    background-color: blue;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    font-size: 18px;
    color: white;

}

#createDiv {
    margin-top: 20px;
    font-size: 18 px;
    font-weight: lighter;
    border-top: 5px solid grey;
}